*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# building
target

# Eclipse
.classpath
.project
.settings

# IDEA
.idea/
*.iml
*.ipr
*.iws
